@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DojoSurvey</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>

<div class="container">
    @model Survey
    <form asp-action="Display" asp-controller="Home" method="POST">

        <span asp-validation-for="Name"></span>
        <label asp-for="Name">Name</label>
        <input asp-for="Name"><br>
        
        <span asp-validation-for="Location"></span>
        <label asp-for="Location">Location</label>
        <select name="Location">
            <option value="San Jose">San Jose</option>
            <option value="Washington D.C.">Washington D.C.</option>
            <option value="Tulsa">Tulsa</option>
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
        </select><br>
        
        <span asp-validation-for="Language"></span>
        <label asp-for="Language">Favorite Language</label>
        <select name="Language">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Javascript">JavaScript</option>
        </select><br>
        
        <span asp-validation-for="Comment"></span>
        <label asp-for="Comment">Comment: (Optional)</label>
        <textarea name="Comment"></textarea><br>
        
        <input type="submit" value="submit">

    </form>
</div>
    
</body>
</html>
